[submodule "_dircolors-solarized"]
	path = _dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "_filmic-blender"]
	path = _filmic-blender
	url = https://github.com/sobotka/filmic-blender.git
[submodule "_rime-hokkien"]
	path = _rime-hokkien
	url = https://github.com/a-thok/rime-hokkien.git
[submodule "_nord-konsole"]
	path = _nord-konsole
	url = https://github.com/arcticicestudio/nord-konsole.git
