[Desktop Entry]
Exec=osu %u
Icon=/opt/osu/osu.png
MimeType=x-scheme-handler/osu
Name=osu! link handler
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.23
