[Desktop Entry]
Categories=Network;System;
Comment[ja_JP]=Easy automated syncing between your computers and your MEGA cloud drive.
Comment=Easy automated syncing between your computers and your MEGA cloud drive.
Exec=megasync
GenericName[ja_JP]=File Synchronizer
GenericName=File Synchronizer
Icon=mega
MimeType=
Name[ja_JP]=MEGASync
Name=MEGASync
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
TryExec=megasync
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-Autostart-Delay=60
X-KDE-SubstituteUID=false
X-KDE-Username=
