[Desktop Entry]
Exec=echo $(date): priority test from ~/.config/autostart/ptest.desktop >> $HOME/.priority_test
Terminal=false
Type=Application
Name=Priority Test
