[Desktop Entry]
Type=Application
Name=osu! link handler
MimeType=x-scheme-handler/osu
Exec=osu-wine %U
NoDisplay=true
StartupNotify=true
Icon=osu-wine
