#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Quizlet
Exec=/opt/google/chrome-unstable/google-chrome-unstable --profile-directory=Default --app-id=dnnkgamejohcdlbfjpdjcffofbiihlho
Icon=chrome-dnnkgamejohcdlbfjpdjcffofbiihlho-Default
StartupWMClass=crx_dnnkgamejohcdlbfjpdjcffofbiihlho
