cached_layout
clipboard/
conf/
data/
dbus/
profile
rime/.place_holder
rime/bopomofo_tw.schema.yaml
rime/build/
rime/cangjie5.schema.yaml
rime/installation.yaml
rime/jyutping.schema.yaml
rime/luna_pinyin.schema.yaml
rime/luna_quanpin.schema.yaml
rime/stroke.schema.yaml
rime/symbols.yaml
rime/sync/
rime/terra_pinyin.userdb/
rime/trash/
rime/user.yaml
