[Desktop Entry]
Categories=Utility;
Comment=An extensible, customizable, free/libre text editor.
Exec=emacs
Icon=emacs
Name=Emacs
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
